@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root{
    --background: var(--color-white);
    --text-color: var(--color-black);
    --gradient-text: linear-gradient(225deg, #FC5915, #EE0979);
    --dark-background: #341931;
}
/* 
@theme {
    --color-background: var(--background);
    --color-text: var(--text-color);
    --color-gradient-text: var(--gradient-text);
}

@theme inline {
    --color-background: var(--background);
    --color-text: var(--text-color);
    --color-gradient-text: var(--gradient-text);

}

@media (prefers-color-scheme: dark) {
    :root{
        --color-background: var(--dark-background);
        --text-color: var(--color-white);
        --gradient: var(--gradient-text);
    }
} */